<br>
<br>
<div>
  <h4> Welcome to my store.  Here you can find many plants to buy.  Please check out what we have in stock! </h4>
  <h3><a class="navbar-brand" href="<%= root_path %>">Jungle</a></h3>
</div>